# Configuration Terraform pour déploiement Kubernetes Production
# ==============================================================
# Copiez ce fichier en terraform.tfvars et ajustez les valeurs

# Chemin vers le kubeconfig (contexte production)
kubeconfig_path = "~/.kube/config"

# Image Docker à déployer
docker_image = "registry.gitlab.com/abdelmouiz99/tp-devsecops-app"
docker_tag   = "latest"  # Tag latest en production

# Credentials GitLab Container Registry
registry_url      = "registry.gitlab.com"
registry_user     = "abdelmouiz99"
registry_password = "VOTRE_DEPLOY_TOKEN"  # Créez un Deploy Token dans GitLab
registry_email    = "ci@gitlab.com"